{% extends 'accountsapp/base.html' %}

{% load cache %}
{% load static %}

{% block title %}
About me
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about_me.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <h1>Добро пожаловать, {{ user.username }}!</h1>
    </div>
    <div class="profile-details">
        <h2>Ваши данные</h2>
        <ul>
            <li><strong>Имя пользователя:</strong> {{ user.username }}</li>
            <li><strong>Email:</strong> {{ user.email }}</li>
            <li><strong>Дата регистрации:</strong> {{ user.date_joined|date:"d.m.Y" }}</li>
        </ul>
    </div>
    <div class="profile-actions">
        <a href="{% url 'accountsapp:logout' %}" class="button logout">Выйти</a>
    </div>
</div>

{% endblock %}
