{% extends 'accountsapp/base.html' %}

{% load cache %}
{% load static %}

{% block title %}
About me
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Пароль успешно изменён</h2>
    <p>Ваш пароль был успешно обновлен. Вы можете продолжить использовать сайт.</p>
    <a href="{% url 'accountsapp:profile' %}" class="btn btn-primary">К профилю</a>
</div>

{% endblock %}