{% extends 'shopapp/base.html' %}

{% load static %}

{% block title %}
Корзина
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cart_detail.css' %}">
{% endblock %}

{% block content %}
<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="cart-container">
    <h2 class="cart-header">Ваша корзина</h2>

    {% if cart.items.all %}
    <table class="cart-table">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Итого</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart.items.all %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price }}</td>
            <td style="display: flex; flex-direction: row; justify-content: space-around;">
                <div>
                    {{ item.quantity }}
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-around;">
                    <form action="{% url 'shopapp:add_to_cart' product_id=item.product.pk %}">
                        <button class="btn btn-secondary">+</button>
                    </form>
                    <form action="{% url 'shopapp:reduce_items_cart' product_id=item.product.pk %}">
                        <button class="btn btn-secondary">-</button>
                    </form>
                </div>
            </td>
            <td>{{ item.total_price }}</td>
            <td>
                <form action="{% url 'shopapp:remove_from_cart' item_id=item.pk %}">
                    <button class="btn btn-secondary">Удалить</button>
                </form>

            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    <div class="cart-total">{{ cart.get_total }}</div>
    <div class="cart-buttons">
        <form action="{% url 'shopapp:create_order' %}">
            <button class="btn btn-primary">Оформить заказ</button>
        </form>
        <form action="{% url 'shopapp:clear_cart' %}">
            <button class="btn btn-secondary">Очистить корзину</button>
        </form>

    </div>
    {% else %}
    <p>В вашей корзине ещё нет товаров</p>
    {% endif %}

</div>
{% endblock %}