{% extends 'shopapp/base.html' %}

{% load static %}

<title>
    {% block title %}
    Products list
    {% endblock %}
</title>

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/products_list.css' %}">
{% endblock %}

{% block content %}

<h1>Product List</h1>
<div class="product-list-container">
    <div class="product-grid">
        {% for product in products %}
        <div class="product-card">

            <div>
                <h2><a href="{% url 'shopapp:product_detail' pk=product.pk %}"
                       style="text-decoration: none; color:black">
                    {{ product.name }}
                </a></h2>
            </div>
            <div>
                <p>{{ product.description|truncatechars:100 }}</p>
            </div>
            <div>
                <p class="product-price">${{ product.price }}</p>
            </div>
            <div class="product-actions">
                {% if product.is_in_stock %}
                <button class="add-to-cart-btn">Добавить в корзину</button>
                {% else %}
                <button class="out-of-stock-btn" disabled>Товар отсутствует</button>
                {% endif %}
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}